@media(max-width: 700px){
    
   

                 /* ABOUT START */
                 .row{
                   flex-direction: column;}

                   .login{
                    width: 80%;
                    margin:  auto;
                    text-align: center;
                    padding: 100px;
                    background: #0ce71f;
                }
                .row-2{
                    margin: 5%;
                    display: flex;
                    justify-content: center;
                }
                .login-col{
                    background: #e79c11;
                    flex-basis: 100%;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                    margin-bottom: 5%;
                    padding: 20px 12px;
                    box-sizing: border-box;
                }
                .login-col h2{
                    text-align: center;
                    background: #460aec;
                    color: aliceblue;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                    padding: 12px;
                    font-weight: bold;
                    top: 0;
                }
                .input_field{
                    margin: 15px;
                }
                .input_field i{
                    margin: 10px;
                }
                .input_field input[type="text"],input[type="password"]{
                    width: 70%;
                    margin: 15px;
                }
                 input[type="submit"]{
                    width: 50%;
                    font-weight: bold;
                    padding: 10px;
                    border-radius: 10px;
                    -webkit-border-radius: 10px;
                    -moz-border-radius: 10px;
                    -ms-border-radius: 10px;
                    -o-border-radius: 10px;
                    background: #62ff07;
                    cursor: pointer;
                }
                
}